<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
    <h:head>
        <title>Exemplo com CDI</title>
    </h:head>
    <h:body>
        ID <h:outputText value="#{pessoaNova.id}" /> <br/>
        Nome <h:outputText value="#{pessoaNova.nome}" /><br/>

        Nome Field: <h:outputText value="#{nomePessoa}" /><br/>

        Id Controlador <h:outputText value="#{controlador.pessoa.id}" /><br/><br/>

        DAO JDBC: <h:outputText value="#{controlador.jdbc.salvar()}" /><br/><br/>
        DAO JPA: <h:outputText value="#{controlador.jpa.salvar()}" /><br/><br/>
        DAO XML: <h:outputText value="#{controlador.xml.salvar()}" /><br/><br/>
        <h:form>
            <h:dataTable value="#{listaPessoas}" var="novaPessoa" border="1" >
                <h:column id="column1">
                    <f:facet name="header">
                        <h:outputText value="Nome" />                   
                    </f:facet>
                    <h:outputText value="#{novaPessoa.nome}" />
                </h:column>
                <h:column id="column2">
                    <f:facet name="header">
                        <h:outputText value="Id"/>
                    </f:facet>
                    <h:outputText value="#{novaPessoa.id}" />
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>

